.header {
    display: flex;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 10px; 
}

.row {
    display: flex;
    padding: 10px;
}

.col {
    flex: 1;
}

.col-visible {
    text-align: center;
}