@page "/orders"
@inject IOrderService _orderService

<h3>Orders</h3>

@if (_orders is null)
{
    <span>Loading your orders...</span>
}
else if (_orders.Count <= 0)
{
    <span>You have no orders yet.</span>
}
else
{
    foreach (var order in _orders)
    {
        <div class="container m-3 rounded">
            <div class="image-wrapper">
                <img src="@order.ProductImageUrl" class="image"/>
            </div>
            <div class="details">
                <h3>@order.Product</h3>
                <span>@order.OrderDate</span>
                <br/>
                <a href="orders/@order.Id">Show more</a>
            </div>
            <div class="order-price">@order.TotalPrice@_currency</div>
        </div>
    }
}
@code {
    string _currency = "kr";
    List<OrderOverviewResponseDTO> _orders = new();

    protected override async Task OnInitializedAsync()
    {
        _orders = await _orderService.GetOrders();
    }

}
