@page "/register"

<PageTitle>Register</PageTitle>

<h3>Register</h3>

<EditForm Model="@user" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator/>
    <div class="mb-4">
        <label for="email">Email</label>
        <input id="email" @bind-value="user.Email" class="form-control"/>
        <ValidationMessage For="@(() => user.Email)"/>
    </div>
    <div class="mb-4">
        <label for="password">Password</label>
        <input id="password" @bind-value="user.Password" class="form-control" type="password"/>
        <ValidationMessage For="@(() => user.Password)"/>
    </div>
    <div class="mb-4">
        <label for="confirm-password">Confirm Password</label>
        <input id="confirm-password" @bind-value="user.ConfirmPassword" class="form-control" type="password"/>
        <ValidationMessage For="@(() => user.ConfirmPassword)"/>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</EditForm>

@code {
    UserRegister user = new();

    void HandleRegistration()
    {
        Console.WriteLine($"Register user with the Email {user.Email}");
    }
}
