.container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
}

img {
    max-width: 200px;
    max-height: 200px;
    transition: transform .3s;
}

img:hover {
    transform: scale(1.1) rotate(2deg);
}

.featured-product {
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    max-width: 200px;
}

@media (max-width: 1024px) {
    .container {
        justify-content: flex-start;
    }
}