.media-img {
    max-height: 300px;
    max-width: 280px;
    margin-bottom: 10px;
    transition: transform .2s;
    box-shadow: 0px 5px 20px 5px slategray;
}

.media-img:hover {
    transform: scale(1.1);
}

.media-img-wrapper {
    width: 300px;
    text-align: center;
}

.page-selection {
    margin-left: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .media {
        flex-direction: column;
    }

    .media-body {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }

    .product-desc {
        max-width: 100%;
    }
}